<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Unit Test Suite">
  <test thread-count="5" name="Link Import Test">
    <classes>
      <class name="testNG.xlLinkImportServiceTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->