/hk2-api-2.5.0-b42.jar
/hk2-locator-2.5.0-b42.jar
/hk2-utils-2.5.0-b42.jar
/jackson-annotations-2.4.5.jar
/jackson-core-2.4.5.jar
/jackson-databind-2.4.5.jar
/jackson-dataformat-xml-2.4.5.jar
/jackson-dataformat-yaml-2.4.5.jar
/jackson-datatype-joda-2.4.5.jar
/jackson-jaxrs-base-2.4.5.jar
/jackson-jaxrs-json-provider-2.4.5.jar
/jackson-module-jaxb-annotations-2.4.5.jar
/javassist-3.22.0-CR2.jar
/javax.annotation-api-1.2.jar
/javax.inject-1.jar
/javax.inject-2.5.0-b42.jar
/javax.json-1.1.jar
/javax.json-api-1.1.jar
/javax.json.bind-api-1.0.jar
/javax.servlet-api-3.0.1.jar
/javax.ws.rs-api-2.1.jar
/jaxb-api-2.2.7.jar
/jboss-interceptors-api_1.1_spec-1.0.0.Beta1.jar
/jersey-client.jar
/jersey-common.jar
/jersey-container-servlet-core.jar
/jersey-container-servlet.jar
/jersey-hk2.jar
/jersey-media-jaxb.jar
/jersey-media-json-binding.jar
/jersey-media-multipart-2.19.jar
/jersey-media-sse.jar
/jersey-server.jar
/joda-time-2.2.jar
/jsr250-api-1.0.jar
/validation-api-1.1.0.Final.jar
/yasson-1.0.jar
/swagger-annotations-1.5.7.jar
/swagger-core-1.5.7.jar
/swagger-jaxrs-1.5.7.jar
/swagger-models-1.5.7.jar
/aopalliance-repackaged-2.5.0-b42.jar
/cdi-api-1.1.jar
/com.fasterxml.jackson.annotations.jar
/com.fasterxml.jackson.core.jar
/com.fasterxml.jackson.databind.jar
/el-api-2.2.jar
/org.osgi.core-4.2.0.jar
/osgi-resource-locator-1.0.1.jar
/persistence-api-1.0.jar
