<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<display-name>Jersey REST APIs for Boardwalk (com.vogella.jersey.first)</display-name>
<servlet>
	<servlet-name>BAE REST Service</servlet-name>
	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>io.swagger.api</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>BAE REST Service</servlet-name>
	<url-pattern>/rest/*</url-pattern>
</servlet-mapping>


	<filter>
		<filter-name>BWExcelAuthenticationFilter</filter-name>
		<filter-class>servlets.BWExcelAuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>BWExcelAuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>fileUploadService</servlet-name>
		<servlet-class>servlets.fileUploadService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>http_vb_getTableInfo</servlet-name>
		<servlet-class>servlets.http_vb_getTableInfo</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DisplayDocument</servlet-name>
		<servlet-class>servlets.DisplayDocument</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BW_FileExport</servlet-name>
		<servlet-class>servlets.BW_FileExport</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BW_FileImport</servlet-name>
		<servlet-class>servlets.BW_FileImport</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BW_FileManagement</servlet-name>
		<servlet-class>servlets.BW_FileManagement</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BW_Admin</servlet-name>
		<servlet-class>servlets.BW_Admin</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BW_Users</servlet-name>
		<servlet-class>servlets.BW_Users</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InvitationManager</servlet-name>
		<servlet-class>servlets.InvitationManager</servlet-class>

		<init-param>
			<param-name>propertiespath</param-name>
			<param-value>Z:\\Tomcat8.5_new\\webapps\\BAE_4_3\\props\\sampo.properties</param-value>
		</init-param>

		<init-param>
			<param-name>sourcexml</param-name>
			<param-value>Z:\\Tomcat8.5_new\\webapps\\BAE_4_3\\plugins\\bwinvitation.xml</param-value>
		</init-param> 

		<init-param>
			<param-name>targetxml</param-name>
			<param-value>Z:\\Tomcat8.5_new\\webapps\\BAE_4_3\\plugins\\bwinvitationTarget.xml</param-value>
		</init-param> 

		<init-param>
			<param-name>serveraddress</param-name>
			<param-value>http://localhost:8080/corpdemo_3215</param-value> 
		</init-param>

		<init-param>
			<param-name>smptserver</param-name>
			<param-value>secure.emailsrvr.com</param-value> 
		</init-param>

		<init-param>
			<param-name>smtpport</param-name>
			<param-value>80</param-value>
		</init-param>

		<init-param>
			<param-name>username</param-name> 
			<param-value>password@boardwalktech.com</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>boardwalk</param-value> 
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>BW_Neighborhoods</servlet-name>
		<servlet-class>servlets.BW_Neighborhoods</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddUsers</servlet-name>
		<servlet-class>servlets.AddUsers</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MyTables</servlet-name>
		<servlet-class>servlets.MyTables</servlet-class>

		<init-param>
			<param-name>rowHeigth</param-name>
			<param-value>20</param-value>
		</init-param>

		<init-param>
			<param-name>columnWidth</param-name>
			<param-value>200</param-value>
		</init-param>

		<init-param>
			<param-name>visibleCellLength</param-name>
			<param-value>23</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>MyCollaborations</servlet-name>
		<servlet-class>servlets.MyCollaborations</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ScalabilityForExport</servlet-name>
		<servlet-class>servlets.ScalabilityForExport</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateThreadsForScalability</servlet-name>
		<servlet-class>servlets.CreateThreadsForScalability</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>httpt_vb_MyCollaborations</servlet-name>
		<servlet-class>servlets.httpt_vb_MyCollaborations</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>httpt_vb_ViewDifferences</servlet-name>
		<servlet-class>servlets.httpt_vb_ViewDifferences</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>httpt_vb_deleteRow</servlet-name>
		<servlet-class>servlets.httpt_vb_deleteRow</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RowAssignBuffer</servlet-name>
		<servlet-class>servlets.RowAssignBuffer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetFormulaBuffer</servlet-name>
		<servlet-class>servlets.GetFormulaBuffer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddFormulaBuffer</servlet-name>
		<servlet-class>servlets.AddFormulaBuffer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeactivateFormulaBuffer</servlet-name>
		<servlet-class>servlets.DeactivateFormulaBuffer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>httpt_vb_Login</servlet-name>
		<servlet-class>servlets.httpt_vb_Login</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>httpt_vb_tablegetcells</servlet-name>
		<servlet-class>servlets.httpt_vb_tablegetcells</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>createUserServlet</servlet-name>
		<servlet-class>servlets.createUserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CheckSignificantUpdate</servlet-name>
		<servlet-class>servlets.CheckSignificantUpdate</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlVersionCheck</servlet-name>
		<servlet-class>servlets.xlVersionCheck</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlCallPeriodShift</servlet-name>
		<servlet-class>servlets.xlCallPeriodShift</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlSqlQuery</servlet-name>
		<servlet-class>servlets.xlSqlQuery</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getErrorsForNHCollabWB</servlet-name>
		<jsp-file>/jsp/admin/getErrorsForNHCollabWB.jsp</jsp-file>

		<init-param>
			<param-name>sourcexml</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\plugins\\bwtraining.xml</param-value>
		</init-param>

		<init-param>
			<param-name>targetxml</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\plugins\\bwtrainingTarget.xml</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>

		<init-param>
			<param-name>databasename</param-name>
			<param-value>BAE_4_3_JENKINS_TEST</param-value>
		</init-param>

		<init-param>
			<param-name>databasetype</param-name>
			<param-value>SQLSERVER</param-value>
		</init-param>

		<init-param>
			<param-name>InstanceName</param-name>
			<param-value>default</param-value>
		</init-param>

		<init-param>
			<param-name>user</param-name>
			<param-value>BOARDWALK_APPLICATION_USER</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>BOARDWALK_APPLICATION_USER</param-value>
		</init-param>

		<init-param>
			<param-name>server</param-name>
			<param-value>localhost</param-value>
		</init-param>

		<init-param>
			<param-name>port</param-name>
			<param-value>1433</param-value>
		</init-param>

		<init-param>
			<param-name>sqlpath</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\sql\\</param-value>
		</init-param>

		<init-param>
			<param-name>templatedir</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\templates</param-value>
		</init-param>

		<init-param>
			<param-name>sourcexml</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\plugins\\bwtraining.xml</param-value>
		</init-param>

		<init-param>
			<param-name>targetxml</param-name>
			<param-value>d:\\tomcat7\\webapps\\BAE_4_3\\plugins\\bwtrainingTarget.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Whiteboard</servlet-name>
		<servlet-class>servlets.Whiteboard</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateTable</servlet-name>
		<servlet-class>servlets.CreateTable</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlLinkExportService</servlet-name>
		<servlet-class>servlets.xlLinkExportService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlLinkExportFileService</servlet-name>
		<servlet-class>servlets.xlLinkExportFileService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlLinkImportService</servlet-name>
		<servlet-class>servlets.xlLinkImportService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlExportMergeService</servlet-name>
		<servlet-class>servlets.xlExportMergeService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlExportChangesService</servlet-name>
		<servlet-class>servlets.xlExportChangesService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlImportChangesService</servlet-name>
		<servlet-class>servlets.xlImportChangesService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlGetCellUpdates</servlet-name>
		<servlet-class>servlets.xlGetCellUpdates</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlGetRowUpdates</servlet-name>
		<servlet-class>servlets.xlGetRowUpdates</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlGetTransactions</servlet-name>
		<servlet-class>servlets.xlGetTransactions</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlTableHistory</servlet-name>
		<servlet-class>servlets.xlTableHistory</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlNamedSelectionService</servlet-name>
		<servlet-class>servlets.xlNamedSelectionService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AggregationService</servlet-name>
		<servlet-class>servlets.AggregationService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DisAggregationService</servlet-name>
		<servlet-class>servlets.DisAggregationService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlTemplateService</servlet-name>
		<servlet-class>servlets.xlTemplateService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlLoginService</servlet-name>
		<servlet-class>servlets.xlLoginService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SFGate</servlet-name>
		<servlet-class>servlets.SFGate</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlCollaborationService</servlet-name>
		<servlet-class>servlets.xlCollaborationService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlGetQueryList</servlet-name>
		<servlet-class>servlets.xlGetQueryList</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Get_Boardwalk_Template_Prop</servlet-name>
		<servlet-class>servlets.Get_Boardwalk_Template_Prop</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Bw_Get_Objects</servlet-name>
		<servlet-class>servlets.Bw_Get_Objects</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>forgotPassword</servlet-name>
		<servlet-class>servlets.forgotPassword</servlet-class>

		<init-param>
			<param-name>smptserver</param-name>
			<param-value>smtp.emailsrvr.com</param-value>
		</init-param>

		<init-param>
			<param-name>smtpport</param-name>
			<param-value>25</param-value>
		</init-param>

		<init-param>
			<param-name>username</param-name>
			<param-value>password@boardwalktech.com</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>Boardwalk1032</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>xlLogoutService</servlet-name>
		<servlet-class>servlets.xlLogoutService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xlAdminService</servlet-name>
		<servlet-class>servlets.xlAdminService</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>xlAdminService</servlet-name>
		<url-pattern>/xlAdminService</url-pattern>
	</servlet-mapping> 

	<servlet-mapping>
		<servlet-name>xlLogoutService</servlet-name>
		<url-pattern>/xlLogoutService</url-pattern>
	</servlet-mapping>    

	<servlet-mapping>
		<servlet-name>forgotPassword</servlet-name>
		<url-pattern>/forgotPassword</url-pattern>
	</servlet-mapping> 

	<servlet-mapping>
		<servlet-name>Bw_Get_Objects</servlet-name>
		<url-pattern>/Bw_Get_Objects</url-pattern>
	</servlet-mapping> 

	<servlet-mapping>
		<servlet-name>Get_Boardwalk_Template_Prop</servlet-name>
		<url-pattern>/Get_Boardwalk_Template_Prop</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlGetQueryList</servlet-name>
		<url-pattern>/xlGetQueryList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlCollaborationService</servlet-name>
		<url-pattern>/xlCollaborationService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlLoginService</servlet-name>
		<url-pattern>/xlLoginService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fileUploadService</servlet-name>
		<url-pattern>/fileUploadService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MyTables</servlet-name>
		<url-pattern>/MyTables</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisplayDocument</servlet-name>
		<url-pattern>/DisplayDocument</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>http_vb_getTableInfo</servlet-name>
		<url-pattern>/http_vb_getTableInfo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_Users</servlet-name>
		<url-pattern>/BW_Users</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InvitationManager</servlet-name>
		<url-pattern>/InvitationManager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_Neighborhoods</servlet-name>
		<url-pattern>/BW_Neighborhoods</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MyCollaborations</servlet-name>
		<url-pattern>/MyCollaborations</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ScalabilityForExport</servlet-name>
		<url-pattern>/ScalabilityForExport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateThreadsForScalability</servlet-name>
		<url-pattern>/CreateThreadsForScalability</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httpt_vb_MyCollaborations</servlet-name>
		<url-pattern>/httpt_vb_MyCollaborations</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httpt_vb_ViewDifferences</servlet-name>
		<url-pattern>/httpt_vb_ViewDifferences</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httpt_vb_deleteRow</servlet-name>
		<url-pattern>/httpt_vb_deleteRow</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RowAssignBuffer</servlet-name>
		<url-pattern>/RowAssignBuffer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetFormulaBuffer</servlet-name>
		<url-pattern>/GetFormulaBuffer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddFormulaBuffer</servlet-name>
		<url-pattern>/AddFormulaBuffer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeactivateFormulaBuffer</servlet-name>
		<url-pattern>/DeactivateFormulaBuffer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_FileExport</servlet-name>
		<url-pattern>/BW_FileExport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_FileImport</servlet-name>
		<url-pattern>/BW_FileImport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_FileManagement</servlet-name>
		<url-pattern>/BW_FileManagement</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httpt_vb_Login</servlet-name>
		<url-pattern>/httpt_vb_Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httpt_vb_tablegetcells</servlet-name>
		<url-pattern>/httpt_vb_tablegetcells</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>createUserServlet</servlet-name>
		<url-pattern>/createUserServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CheckSignificantUpdate</servlet-name>
		<url-pattern>/CheckSignificantUpdate</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Whiteboard</servlet-name>
		<url-pattern>/Whiteboard</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BW_Admin</servlet-name>
		<url-pattern>/BW_Admin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateTable</servlet-name>
		<url-pattern>/CreateTable</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlLinkExportService</servlet-name>
		<url-pattern>/xlLinkExportService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlLinkExportFileService</servlet-name>
		<url-pattern>/xlLinkExportFileService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlLinkImportService</servlet-name>
		<url-pattern>/xlLinkImportService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlExportMergeService</servlet-name>
		<url-pattern>/xlExportMergeService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlExportChangesService</servlet-name>
		<url-pattern>/xlExportChangesService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlImportChangesService</servlet-name>
		<url-pattern>/xlImportChangesService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlGetCellUpdates</servlet-name>
		<url-pattern>/xlGetCellUpdates</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlGetRowUpdates</servlet-name>
		<url-pattern>/xlGetRowUpdates</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlGetTransactions</servlet-name>
		<url-pattern>/xlGetTransactions</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlTableHistory</servlet-name>
		<url-pattern>/xlTableHistory</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlNamedSelectionService</servlet-name>
		<url-pattern>/xlNamedSelectionService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddUsers</servlet-name>
		<url-pattern>/AddUsers</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlVersionCheck</servlet-name>
		<url-pattern>/xlVersionCheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlCallPeriodShift</servlet-name>
		<url-pattern>/xlCallPeriodShift</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SFGate</servlet-name>
		<url-pattern>/SFGate</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlSqlQuery</servlet-name>
		<url-pattern>/xlSqlQuery</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AggregationService</servlet-name>
		<url-pattern>/AggregationService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisAggregationService</servlet-name>
		<url-pattern>/DisAggregationService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xlTemplateService</servlet-name>
		<url-pattern>/xlTemplateService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getErrorsForNHCollabWB</servlet-name>
		<url-pattern>/jsp/admin/getErrorsForNHCollabWB.jsp</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>application</extension>
		<mime-type>application/x-ms-application</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>application/x-ms-manifest</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>deploy</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>

</web-app>
